.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .form {
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .button {
    font-size: 0.9rem;
    text-transform: capitalize !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0;
    background-color: #14192d !important;
    
    &:hover {
      background-color: #1e2a5a;
    }
  }