.getStartedContainer {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
.customGridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.customTypography {
    font-size: 1.1rem;
    text-align: start;
    line-height: 1.5;
    color: #515151;
    margin-top: 1.5rem;
  }
  
.articleBox {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
.fullWidthImage {
    width: 100%;
  }
  