.drawer {
    flex-grow: 1;
    flex-shrink: 0;
  
    & .MuiDrawer-paper {
      width: 200px; 
    }
  }
  
.drawerHeader {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-start;
  }
  
.listItem {
    color: #414141;
  
    &:hover {
      background-color: #e9e5e5;
      color: #1c2859;
    }
  }
  
.listItemIcon {
    &:hover {
      background-color: transparent;
      color: #1c2859;
    }
  }

.hidden {
    display: none;
  }


  