.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  @media (max-width: 600px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
