.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  padding: 2rem;
  background-color: #83b4cc;
  background-image: linear-gradient(315deg, #4b9f93 0%, #4b96b2 74%);
}
