.container {
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, and base width for medium screens */
    min-width: 300px; /* Minimum width for the card on medium screens */
    margin: 10px;
  }

  /* Media query for screens less than or equal to 600px (considered small screens) */
  @media (max-width: 600px) {
    .card {
      min-width: 100%; /* Full width on small screens */
      margin: 5px 0; /* Adjust margin for vertical spacing on small screens */
    }
  }
}

.fullWidthImage {
  width: 100%;
}
