.getInTouchContainer {
  padding-top: 0;
  padding-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
