.customBox {
  //min-height: 80vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #409eff;

  @media (max-width: 960px) {
    /* md 断点的宽度 */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.boxText {
  flex: 1;
  padding-left: 2rem; /* 替换为 theme.spacing(8) 的实际值 */

  @media (max-width: 899.95px) {
    /* md 断点的宽度 */
    flex: 2;
    text-align: center;
    padding-left: 1rem; /* 替换为 theme.spacing(2) 的实际值 */
    padding-right: 1rem; /* 替换为 theme.spacing(2) 的实际值 */
  }
}

.typographyH2 {
  font-weight: 700 !important;
  color: #fff;
}

.typographyP {
  padding-top: 1.5rem; /* 替换为 theme.spacing(3) 的实际值 */
  padding-bottom: 1.5rem; /* 替换为 theme.spacing(3) 的实际值 */
  line-height: 1.6;
  color: #fff;
}

.buttons_container {
  display: flex;
  gap: 1rem;
  @media (max-width: 960px) {
    /* md 断点的宽度 */
    justify-content: center;
  }
}

.imgBox {
  flex: 1;
  display: flex;
  justify-content: center;
}

.fullWidthImage {
  max-width: 400px;
}
