.customBox {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
  background-color: #409eff;

  @media (max-width: 960px) {
    /* md 断点的宽度 */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.boxText {
  flex: 1;
  padding-left: 4rem; /* 替换为 theme.spacing(8) 的实际值 */

  @media (max-width: 899.95px) {
    /* md 断点的宽度 */
    flex: 2;
    text-align: center;
    padding-left: 1rem; /* 替换为 theme.spacing(2) 的实际值 */
    padding-right: 1rem; /* 替换为 theme.spacing(2) 的实际值 */
  }
}

.typographyH2 {
  font-weight: 700 !important;
  color: #fff;
}

.typographyP {
  padding-top: 1.5rem; /* 替换为 theme.spacing(3) 的实际值 */
  padding-bottom: 1.5rem; /* 替换为 theme.spacing(3) 的实际值 */
  line-height: 1.6;
  color: #fff;
}

.buttons_container {
  display: flex;
  @media (max-width: 960px) {
    /* md 断点的宽度 */
    justify-content: center;
  }

  .buttonBuyNow {
    margin-right: 1rem; /* 替换为 theme.spacing(1) 的实际值 */
    padding: 0.5rem 2rem; /* 替换为 theme.spacing(1, 4) 的实际值 */
    font-size: 0.9rem;
    text-transform: capitalize !important;
    border-radius: 0;
    border-color: #14192d;
    color: #fff;
    background-color: #14192d !important;

    &:hover,
    &:focus {
      background-color: #343a55;
    }
  }

  .buttonExplore {
    padding: 0.5rem 2rem; /* 替换为 theme.spacing(1, 4) 的实际值 */
    font-size: 0.9rem;
    text-transform: capitalize !important;
    border-radius: 0;
    color: #fff;
    background-color: transparent !important;
    border-color: #fff;

    &:hover,
    &:focus {
      color: #343a55;
      border-color: #343a55;
    }
  }
}

.imgBox {
  @media (max-width: 960px) {
    flex: 1;
    padding-top: 30px;
    align-self: center;
  }

  @media (min-width: 960px) {
    flex: 2;
    align-self: flex-end;
  }
}

.fullWidthImage {
  width: 100%;
  margin-bottom: -15px;
}
