.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 8px 16px 0;
  display: flex;
  gap: 16px;
  align-items: center;

  .title {
    width: 200px;
    margin-bottom: 0;
  }

  .menu {
    width: 60%;
  }
}
