.styledToolbar {
    display: flex;
    justify-content: space-between;
  }
  
.listMenu {
    display: none;
  
    @media (min-width: 600px) { 
      display: flex;
    }
  }
  
.drawerItemBox {
    display: block;
  
    @media (min-width: 600px) {
      display: none;
    }
  }
  
.listItemButton {
    color: #fff;
  
    &:hover {
      background-color: transparent;
      color: #1e2a5a;
    }
  }
  
.appBar {
    background-color: #409eff;
  }
  