.container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }
  
.section {
    padding-bottom: 3rem;
  }
  
.galleryBox {
    max-width: 700px;
    width: 100%;
  }
  
.titleSpacing {
    padding-top: 1rem;
  }
  