.container {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  padding-bottom: 1.5rem;
}

.carousel {
  max-width: 700px;
  width: 100%;
  background-color: #cccccc;
}
