.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  
.section {
    padding-bottom: 1.5rem;
  }
  
.galleryBox {
    max-width: 700px;
    width: 100%;
  }
  
.titleSpacing {
    padding-top: 0.5rem;
  }
  