.footerTitle {
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 1; 
  }

.footerLink {
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    color: #414141;
    text-transform: capitalize;
    &:hover {
      color: #1c2859;
    }
  }

.boxRow {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    flex: 1;
    
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 30px;
    }

    &.padding {
        padding: 4px 2px;
      }
  }
  
.stackColumn {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 8px;
    text-align: center;
  }
  
.iconLink {
    color: #414141;
    &:hover {
      color: #1c2859;
    }
  }
  
